<% layout('/layouts/boilerplate') %>
<h1 class="mb-5"><i>Welcome To SWASTIK TRIPATHI</i></h1>
<p><i>
    Thank You For Using My Services <br>Your <b>Photos</b> That You <b>Upload</b> Here are Highly Safe &amp; Secure </i></p>
    <h3><i>Credentials </i></h3>
    <p>
Your <b>Email Username</b> And <b>Password</b> Are Highly Safe And Secure No One Can Access it <br>Your <b>Password </b>is <i>End To End Encrypted</i> So That No One Can Access It </p>
<h4 class="mb-3">About Terms </h4>
<p>My Page Includes Some Terms &amp; Condition &rightarrow;
<a href="/terms" style="text-decoration: none;"><b><i>Click Here To Know More</i></b></a></p>
<h4 class="mb-3">About this site</h5>
    <p>This Site Is Generally Inspired From <b>AirBNB</b><br> And Also This Is A Near By Clone Of <b>AirBNB</b>. Because This Is Not Possible To Clone The Whole <b>AirBNB</b> <br> This Is General Implementation <b><i>MERN STACK </i></b></p>
    