<% layout('/layouts/boilerplate') %>
<h1 class="mb-5"><i>Welcome To SWASTIK TRIPATHI</i></h1>
<h3 class="mb-2">Terms &amp; Conditons</h3>
<ul type="circle">
    <li>You Need To LogIn Before You Add Your Home To My Site</li>
    <li>You Need To LogIn Before You Add An Review For An Place To My Site </li>
    <li>Once You Logged In You Can Access &amp; Modify Those Places That You Added To My Site</li>
    <li>You Can't Modify Or Change Places That You Have Not Made</li>
</ul>
<h4 class="mb-2">About Privacy </h4>
<p>My Page Includes Some Privacy About Your Credentials &rightarrow;
<a href="/privacy" style="text-decoration: none;"><b><i>Click Here To Know More</i></b></a></p>
<h4 class="mb-2">About this site</h5>
<p>This Site Is Generally Inspired From <b>AirBNB</b><br> And Also This Is A Near By Clone Of <b>AirBNB</b>. Because This Is Not Possible To Clone The Whole <b>AirBNB</b> <br> This Is General Implementation <b><i>MERN STACK </i></b></p>
